services:
  app:
    container_name: app.${APP_NAME}
    build:
      context: .
      dockerfile: .docker/go/Dockerfile
    ports:
      - "${API_PORT}:${API_PORT}"
      - "${DIAG_PORT}:${DIAG_PORT}"
    depends_on:
      - db
      - flyway
    networks:
      - app

  db:
    container_name: db.${APP_NAME}
    image: postgres:17
    environment:
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD}'
      POSTGRES_DB: '${DB_DATABASE}'
      PGDATA: '/var/lib/postgresql/data/pgdata'
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - '${DB_PORT}:5432'
    networks:
      - app
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 4G

  flyway:
    container_name: flyway.${APP_NAME}
    image: boxfuse/flyway
    command: -url=jdbc:postgresql://petstore-db:5432/petstore -user=db-user -password=db-password migrate
    volumes:
      - ./db/migration:/flyway/sql
    depends_on:
      - db
    networks:
      - app

volumes:
  pg_data:

networks:
  app:
    driver: bridge